---
import { getLogin } from "../lib/strapi.js";
const loginPageData = await getLogin();
const { username, password, loginBtn, BackToSite, title } = loginPageData ?? {};
---

<html lang="kk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-background-primary flex items-center justify-center font-montserrat antialiased" style="height: 100vh;">
    <div class="bg-white rounded-2xl px-10 py-10 flex flex-col gap-6 shadow-sm">
      <h1 class="text-center text-2xl font-semibold text-brand-primary">Login</h1>
      <input type="text" placeholder={username} class="border border-gray-200 rounded-lg px-8 py-2 text-sm outline-none focus:border-blue-300 text-center"/>
      <input
          type="password" placeholder={password} class="border border-gray-200 rounded-lg px-4 py-2 text-sm outline-none focus:border-blue-300 text-center"/>
      <button class="bg-brand-primary text-white rounded-lg px-7 py-2 text-sm font-medium hover:bg-[#1a3f7a]">{loginBtn}</button>
      <p class="text-center text-sm text-gray-400">{BackToSite}</p>
    </div>
  </body>
</html>

<script is:inline>
</script>
